.about {
  height: 80vh;
  width: 75vw;
  background-image: url('/public/assets/a2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  padding: 20px;
}

.about2 {
  height: 80vh;
  width: 75vw;
  background-repeat: no-repeat;
  border-radius: 20px;
  padding: 20px;
  top: 40px;
  position: absolute;
  z-index: 1;
}

.a1 {
  color:rgb(0, 36, 72);
  margin: 2%;
}

p.a1 {
  font-size: 1rem;
}

.about::before {
  content: '';
  position: absolute;
  height: 80vh;
  width: 75vw;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
  border-radius: 20px;
  padding: 20px;
  margin-top: -20px;
  margin-left: -20px;
}

@media screen and (max-width: 760px) {
  .container {
    text-align: center;
    padding: 5px 2px;
    margin: 5px auto;
    max-width: 100%;
    overflow: scroll;
  }
  .about {
    height: 80vh;
    width: 65vw;
    padding: 20px;
    overflow: scroll;
  }
  
  .about2 {
    height: 80vh;
    width: 65vw;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 20px;
    top: 40px;
    position: absolute;
    z-index: 1;
    overflow: scroll;
  }
  
  .a1 {
    color: #003366;
    font-size: 1.2rem;
  }
  
  p.a1 {
    font-size: 1.2rem;
  }
  
  .about::before {
    content: '';
    position: absolute;
    height: 80vh;
    width: 65vw;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    border-radius: 20px;
    padding: 20px;
    margin-top: -20px;
    margin-left: -20px;
  }
}