.container {
    padding: 50px 20px;
  }
  
  h1.fun {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  p.fun {
    font-size: 1.2rem;
    margin-bottom: 40px;
  }

  a.fun {
    font-size: 1.4rem;
    color:rgb(161, 190, 232);
  }

  .quote {
    opacity: 0;
    transition: opacity 2.3s ease-in-out;
  }
  
  .quote.fade-in {
    opacity: 1;
  }

  ul {
    list-style: square;
    color: white;
    font-size: large;
  }

  li {
    background-color: #003366;
    padding: 4px;
  }

  @media screen and (max-width: 760px) {
  .container {
    text-align: center;
    padding: 5px 2px;
    margin: 5px auto;
    max-width: 100%;
  }
  h1.fun {
    font-size: medium
  }
  p.fun, a.fun {
    font-size: small;
  }
}