.container {
  text-align: center;
  padding: 50px 20px;
  background-color: rgba(0, 51, 102, 0.7);
  border-radius: 10px;
  margin: 50px auto;
  max-width: 800px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #FFFFFF;
}

p {
  font-size: 1.2rem;
  margin-bottom: 40px;
  color: #FFFFFF;
}

#q {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: var(--text-color-light);
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 20% 0 0 20%;
}

.quote {
  opacity: 0;
  transition: opacity 2.3s ease-in-out;
}

.quote.fade-in {
  opacity: 1;
}

@media screen and (max-width: 760px) {
  .home {
    font-size: medium;
  }
  .container {
    text-align: center;
    padding: 5px 2px;
    margin: 5px auto;
    max-width: 100%;
  }
  .homep {
    font-size: small;
    margin-bottom: 4px;
  }
  #q {
    bottom: 10%;
    right: 10%;
    font-size: .5rem;
  }
  .quote, quote.fade-in {
    max-width: 100vw;
  }  
}