.navbar {
    background-color: #003366;
    color: #FFFFFF;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    margin: 0;
    font-family: 'Georgia', serif;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  .navbar-link {
    color: #FFFFFF;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: 'Courier Prime', monospace; 
    position: relative;
    z-index: 1;
  }
  
  .navbar-link:hover {
    background-color: #D3D3D3;
    border-radius: 5px;
    color: #003366;
    opacity: .5;
  }
  
  .navbar-link.active {
    background-color: #D3D3D3;
    border-radius: 5px;
    color: #003366;
  }

  .navbar-slide {
    border-radius: 5px;
    position: absolute;
    transform: translateY(1px);
    height: 30px;
    border-radius: 5px;
    background-color: #D3D3D3;
    transition: left 2.3s, width 2.3s;
    z-index: 0;
  }

  @media screen and (max-width: 760px) {
  .navbar {
    padding: 5px;
  }

  .navbar-container {
    flex-direction: column;
    align-items: stretch;
    gap: 5px;
  }

  .navbar-logo {
    font-size: 1rem;
    text-align: center;
  }

  .navbar-links {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    gap: 5px;
  }

  .navbar-links::-webkit-scrollbar {
    display: none;
  }

  .navbar-link {
    font-size: 0.7rem;
    padding: 3px 2px;
  }

  /* Disable the slide animation on mobile */
  .navbar-slide {
    display: none;
  }
}
