body {
  margin: 0;
  font-family: 'Courier Prime', monospace; 
  color: var(--text-color-light);
  position: relative;
  z-index: 0;
}

.redalert {
  color: red;
  background-color: #003366;
  border-radius: 10px;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/public/assets/airlift.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 1;
}

.background-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.content-container {
  position: relative;
  z-index: 3;
  margin: 0 auto;
}
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', serif;
    color: #FFFFFF;
  }
  
  a {
    color: #FFFFFF;
    text-decoration: none;
  }
  
  a:hover {
    color: #D3D3D3;
  }
  
  .container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .fade-enter {
    opacity: 0;
  }
  
  .fade-enter-active {
    opacity: 1;
    transition: opacity 300ms;
  }
  
  .fade-exit {
    opacity: 1;
  }
  
  .fade-exit-active {
    opacity: 0;
    transition: opacity 300ms;
  }

  @media screen and (max-width: 760px) {
    body {
      max-width: 100vw;
    }
    h1, h2, h3, h4, h5, h6 {
      font-size: 1rem;
    }
    .container {
      padding: 20px;
      max-width: 100%;
    }  
    .background-container {
      max-width: 100%;
    }  
  }